/*import fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family:'Montserrat', arial,sans-serif;
	font-size: 40px;
  background-image: url(../images/band.jpg);
  background-size: cover;
  background-repeat:repeat-y;
}
.main {
	position: relative;
	width:100%;
	height: 100%;
	font-size: .5em;
	margin: 0 auto;
	background-color:#000000;
	overflow: hidden;
}
.main ul#menu{
  position: relative;
  top:0px;
  right: 0px;
  float:right;
  width:510px;
  font-size: 1em;
  margin: 0 auto;
  z-index: 10;

}
.main ul#menu a{
   float:right;
   text-decoration: none;
   letter-spacing: 2px;
   text-align: center;
   padding-top: 22px;
   color:black;
   width:25%;
}
.main ul#menu a:hover, ul#email a:hover{
	-webkit-transition: all .25s ease;
	color: white;
}
ul#email {
  position:absolute;
  font-size: .7em;
  left:25px;
  bottom: 17px;
  width:600px;

}
ul#email a {
  color:#ba7d9d;
  float:left;
  text-decoration: none;
  letter-spacing: 2px;
  padding-right: 15px;
}
nav {
  position: relative;
  float:left;
  width:100%;
  height: 120px;
  background-color: #ee9ec4;
}
.main#calen {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: .5em;
	background-color:#f4d387;
  overflow: visible;

}
#calen h1 {
	position: relative;
	top:27px;
	text-align: left;
	color: black;
	font-size:1.5em;
	letter-spacing: 2px;
}
table {
	position: relative;
	top:7%;
	width: 95%;
	height: 300px;
	margin: 0 auto;
	font-size: .8em;
}
table td {
	line-height: 65px;
}
.venue{
	text-align: left;
}
.info,.date{
	text-align: left;
}
.info a {
	text-decoration: none;
	color:black;
}
.date{
	text-align: left;
	color: black;
}
.venue,.info{
	color:black;
}
.info a:hover {
	-webkit-transition: all .25s ease;
	color:white;
}
#calen hr{
	background-color: black;
	border: none;
	height: 3px;
}
#logo {
	display: block;
  position: absolute;
  top: 15px;
  left: 25px;
	width: 15%;
  height: auto;
	min-width: 150px;
  max-width: 200px;
  z-index: 100;
}
footer {
	position: absolute;
	width:100%;
	bottom: 40px;
	color:white;
	font-size: .8em;
	letter-spacing: 1px;
  text-align: center;
  z-index: 1;
}
#calen footer h3 {
	text-align: center;
  font-size: 1em;
}
 footer a{
	text-decoration: none;
  color:#f4d387;
}

.move {
    display: block;
    position: absolute;
    width: 8%;
    min-width: 60px;
    height:auto;
    z-index: 1;
}
#a1 {
  top: 12%;
  left: 20%;
}
#a2 {
  right:5%;
}
#a3 {
  top: 70%;
  left: 70%;
}
#a4 {
  top: 80%;
  left: 5%;
}
#a5 {
  top:5%;
  left: 90%;
}
.main ul#menu a#show {
  color: white;
  border-top: 9px solid #f04e25;
  padding-top: 11px;
}
table {
  background-color: #f04e25;
  text-transform: uppercase;
  width: 80%;
  min-width: 100px;
  height: auto;
}

td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
img#ham, img#cross {
  display: none;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  margin: auto;
  width: 10%;
  min-width: 50px;
  height: auto;
}
.display {
  display: block;
}
/* media queries */
@media only screen  and (max-width : 1000px){
 table{
    	font-size: .65em;
        line-height: 0px;
    }
    ul#menu a {
      font-size: .8em;
    }
    ul#email {
      font-size: .6em;
    }
}
@media only screen  and (max-width : 550px) {
  table {
    z-index: -1;
  }
  img#ham, img#cross {
    display: block;
  }
  .hamm {
    display: none;
  }
  .main ul#menu a, .main ul#email a {
    float:none;
    padding: 0;
  }
  .main ul#menu, .main ul#email {
    position: relative;
    width: 100%;
    float: none;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #ee9ec4;
    z-index: 1;
}
.main ul#menu li {
  padding: 10px;
}
.main ul#email li {
  padding: 10px;
  font-size: 1.2em;
}
 img#logo {
  left: 0;
  right: 0;
  margin: auto;
 }
}
@media only screen  and (max-width :  480px) {
	#calen{
		height:100%;
		overflow-y:hidden;
	}
    table {
    	font-size: .55em;
    }
    #main{
    	min-height: 550px;
    }
}
@media only screen  and (max-width :  440px){
 table{
    	font-size: .45em;
    }

}
@media only screen  and (max-width : 375px) and (max-height : 667px) {
	#main{
		min-height: 550px;
	}
}

@media only screen  and (max-width : 320px) and (max-height: 568px) {
	#main{
		min-height:420px;
	}
}
@media only screen  and (max-width : 319px){
 table{
    	font-size: .3em;
    }
}


}
